<div class="register-wrapper">
  <div class="register-box">
    <h2>Registrati</h2>

    <form #registerForm="ngForm" (ngSubmit)="registerWithEmail()">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="6"
      />

      <button type="submit" [disabled]="registerForm.invalid">Registrati</button>
    </form>
  </div>

  <a [routerLink]="['/']" class="back-link">← Torna indietro</a>
</div>
